[init]
  defaultBranch = main
[pull]
  rebase = true
[core]
  autocrlf = input
[user]
  name = Camila Martinez
  email = 44549364+cammarb@users.noreply.github.com
[credential]
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
