[init]
  defaultBranch = main
[pull]
  rebase = true
[core]
  autocrlf = input
[user]
  name = Camila Martinez
  email = camila.martinez@axelspringer.com
[credential]
  helper = /usr/local/share/gcm-core/git-credential-manager
