[init]
  defaultBranch = main
[pull]
  rebase = true
[core]
  autocrlf = input
[includeIf "gitdir:$HOME/work-repos/"]
  path = $HOME/.config/git/.work.gitconfig
[includeIf "gitdir:$HOME/personal/repos/"]
  path = $HOME/.config/git/.personal.gitconfig
